html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 10px auto;
}
input {
  color: rgb(32, 51, 79);
  border: 0;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(248, 246, 246);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

button {
  color: rgb(66, 70, 55);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  background-color: darkkhaki;
  font-family: "Rubik", sans-serif;
}

button:hover {
  background-color: rgb(206, 200, 119);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  background-color: rgb(206, 200, 119);
  color: rgb(66, 70, 55);
  padding: 15px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
  background-color: darkkhaki;
}
